@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h1>Tag Helper</h1>

Html Link:
<a href="/Home/About">About</a>

<br />

Html Helper:
@Html.ActionLink("About Helper","/About")

<br />
<a asp-action="About" aps-controller="Home"> About Siete</a>

<br />
Tag Helper: <email mail-to="Markteting">Test</email>