@{
    ViewData["Title"] = "Contact";
}
@tagHelperPrefix email

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h1>Tag Helper</h1>

Html Link:
<a href="/Home/About">About</a>

<br />
Html Helper: @Html.ActionLink("About Helper", "/About")

<br />
<a asp-action="About" aps-controller="Home"> About Siete</a>

<br />
'email' Tag Helper: <email mail-to="Markteting">Test</email>

<address>
    <strong>Support:</strong><email>Support</email><br />
    <strong>Marketing:</strong><email>Marketing</email>
</address>