@page
@model RazorClassLib1.MyFeature.Pages.Page1Model
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello from RezorClassLib1</title>
</head>
<body>
</body>
</html>
