
@{
    ViewData["Title"] = "Index";
}

<h2>Generate Controller</h2>
<div>
    ViewBag.Transient.
</div>


Scoped: @ViewBag.Scoped.GetGuid();
<hr />
Singelton: @ViewBag.Singelton.GetGuid();

<hr />
Transient: @ViewBag.Transient.GetGuid();
<hr />