@model ErrorCustomViewModel
@{
    ViewData["Title"] = "CustomError";
}

<h1 class="text-danger">Error-Custom</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if ( !string.IsNullOrWhiteSpace(Model.Message))
{
    <p>
        <strong>Statuscode:</strong> <code>@Model.Message</code>
    </p>
}
